@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-color: pink;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

h1{
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(228, 26, 93);
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

button{
    width: 99px;
    border-radius: 10px;
    border: none;
    font-family: "Courgette", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: pink;
    background-color: rgb(196, 39, 91) ;
    transition: 0.5s;
}

button:active{
    color: rgb(196, 39, 91);
    background-color: rgb(247, 125, 145);
}

.button-no{
    padding: 20px;
}



a{
    text-decoration: none;
    color: pink;
    display: flex;
    justify-content: center;
    margin: 20px;
}